
.editor-content {

  textarea {
    display: grid;
    place-items: center;
    vertical-align: middle;
    width: 100%;
  }
}

#editor-content-spoiler-tab-btns {

  .tab-active {
    background-color: $Color1;
    color: $FontColor2;
  }

  button {
    // border: 1px solid $BorderColor;
    padding: 1em 1.5em;
    border-radius: 0.2em;
    &:hover {
      background-color: $Color1Dark;
      color: $FontColor2;
    } 
  }

}

#editorHeaderRight {
  button {
    margin-bottom: 0.15em;
    min-width: 10em !important;
    padding: 0.5em 0em !important;
  }
}

#page-content-title {
  max-width: 10em;
}

.hl-yellow {
  background-color: yellow;
}


// .editor-toolbar {
//   background-color: $Color1;
// }