<!-- File Data -->
<script>
  window.pageData = {
    "title": "Home",
    "parent": "adsds",
    "tags": "",
    "description": "Stuff stuff",
    "createSpoilers": false,
    "fileStructure": {
      "nonspoiler": {
        "nonspoiler-overview": "Default"
      },
      "spoiler": {}
    },
    "disabledProfileData": []
  }

  window.profileData = {}
</script>

<!-- File Content -->

<div id="spoiler"></div>
<div id="nonspoiler">
  <div id="nonspoiler-overview" class="page-tab">
    Welcome to the Song of Enderion Official Wiki!
    <a href="?p=ethan-morales">click me</a>Welcome to the Song of Enderion Official Wiki!
    <a href="?p=ethan-morales">click me</a>Welcome to the Song of Enderion Official Wiki!
    <a href="?p=ethan-morales">click me</a>Welcome to the Song of Enderion Official Wiki!
    <a href="?p=ethan-morales">click me</a>
  </div>
</div>