<!-- File Data -->
<script>
  window.pageData = {
    "title": "Home",
    "urlName": "home",
    "parent": "geh",
    "tags": "",
    "description": "Stuff stuff",
    "createSpoilers": false,
    "tabs": {
      "nonspoiler-overview": {
        "name": "Default",
        "area": "nonspoiler"
      },
      "spoiler-overview": {
        "name": "Default",
        "area": "spoiler"
      }
    },
    "disabledProfileData": [],
    "urlPath": "content/"
  }

  window.profileData = {
    "nonspoiler-overview": {}
  }
</script>

<!-- File Content -->

<div id="spoiler">
  <div id="spoiler-overview" class="page-tab">
    Spoilers Spoilersadsadsadasds
  </div>
</div>
<div id="nonspoiler">
  <div id="nonspoiler-overview" class="page-tab">
    Welcome to the Song of Enderion!

    A Wiki Created for the stories.

    [[ethan morales]]

    * **Eldrada** - The most powerful among Eldras.
    * **Eldrasil** - Second only to an Eldrada. Their only difference is that an Eldrada has a superior control over an aspect of nature.
    * **Eldram** - Powerful Eldras.
    * **Ka'Eldra** - Meaning, half-spirit, refers to changed mortals who became a half-eldra due to circumstances, mostly as a result of being chosen by an Eldrada, turning their body into a form much more suitable at handling the gifted power.
    asdsadasdasd
  </div>
</div>