<div class="container editor-sidebar">

  <button id="sidebar-close" onclick="sideBar.close()" class="btn btn-two float-end">✕</button>
  <div>
    <h1>Menu</h1>
    <button class="btn btn-two btn-w5" onclick="sideBar.onclick('editPage')">Edit Page</button>

    <button class="btn btn-two btn-w5">Delete Page</button>
    <button class="btn btn-two btn-w5">Backlinks</button>
    <button class="btn btn-two btn-w5">Page Source</button>
    <br>
    <h1>Site tools</h1>
    <button class="btn btn-two btn-w5">Wanted</button>
    <button class="btn btn-two btn-w5">Orphaned</button>
    <button class="btn btn-two btn-w5">New Page</button>
    <br>
  </div>

  <h1>Directory</h1>
  <div id="directory-area">
    <div class="container">
      
        <label>
          <input id="allowDragging" type="checkbox" checked="checked">
          allow dragging
        </label>
        <br />
        <label>
          <input id="allowDraggingParentNodes" type="checkbox" checked="checked">
          allow dragging parent nodes
        </label>
        <br />
        <label>
          <input id="allowDroppingIntoEmpty" type="checkbox" checked="checked">
          allow dropping into empty nodes
        </label>
      
        <div id="theTree"></div>
        
      
      </div>
  </div>
</div>